.button{
    padding: .75em;
    font-size: 1em;
    text-transform: uppercase;
    font-family: var(--headings-font);
    font-weight: bold;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}