.counter{
    color: var(--color-black);
    background: #ddd;  
    background: -webkit-linear-gradient(to right, var(--color-neutral-dim), #ddd);
    background: linear-gradient(to right, var(--color-neutral-dim), #ddd);
    padding: .75em;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    &:not(:first-child){
        margin-left: var(--margin-sm);
    }
}

