.counter{
    color: var(--color-black);
    background: #ddd;  
    background: -webkit-linear-gradient(to right, var(--color-neutral-dim), #ddd);
    background: linear-gradient(to right, var(--color-neutral-dim), #ddd);
    padding: .75em;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    flex: 1;

    &:not(:first-child){
        margin-top: var(--margin-sm);
    }

    @media screen and (min-width: "360px") {
        &:not(:first-child){
            margin-top: 0;
            margin-left: var(--margin-sm);
        }
    }
    
    @media screen and (min-width: "512px") {
        grid-column-gap: var(--margin-sm);
        grid-row-gap: var(--margin-sm);
        padding: var(--margin);
    }
}

@media only screen and (min-width: 768px) {
    .counter{
        flex: none;
    }

}

