.container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 50%;
    }
}