.card {
    color: var(--color-neutral-light);
    width: 100%;
    min-height: 100px;
    cursor: pointer;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .85;
    transition: opacity .5s;
    
    @media screen and (min-width: "512px") {
        border-radius: var(--radius);
    }

    &:focus {
        box-shadow: inset 0 0 0 5px #333,  var(--shadow);
    }

    &:hover{
        opacity: 1;

        .card__icon {
            transform: rotate(60deg);
        }
    }

    &__icon{
        transition: transform .5s ease;
        font-size: 2em;
    }

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
        
        @media screen and (min-width: "512px") {
            grid-column-gap: var(--margin-sm);
            grid-row-gap: var(--margin-sm);
            padding: var(--margin);
        }
    }
}