.card {
    color: var(--color-neutral-light);
    width: 100%;
    min-height: 100px;
    cursor: pointer;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .85;
    transition: opacity .5s;

    &:hover{
        opacity: 1;
        .card__icon {
            transform: rotate(60deg);
        }
    }

    &__icon{
        transition: transform .5s ease;
        font-size: 2em;
    }

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-column-gap: var(--margin-sm);
        grid-row-gap: var(--margin-sm);
    }
}