.header {
    color: var(--color-neutral-light);
    background: var(--color-black);  
    background: -webkit-linear-gradient(to right, #444, var(--color-black));
    background: linear-gradient(to right, #444, var(--color-black));
    box-shadow: var(--shadow);
    padding: var(--margin);

    &__inner{
        display: flex;
        flex-direction: column;
    }

    &__logo{
        flex: 1;
        text-align: center;
    }

    &__content{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .header__logo{
        text-align: left;
    }

    .header__inner{
        flex-direction: row;
    }

    .header__content{
    }
}