.jumbotron{
    background: #ddd;  
    background: -webkit-linear-gradient(to right, var(--color-neutral-dim), #ddd);
    background: linear-gradient(to right, var(--color-neutral-dim), #ddd);
    padding: 3em;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,.5) inset;
}