.jumbotron{
    display: border-box;
    background: #ddd;  
    background: -webkit-linear-gradient(to right, var(--color-neutral-dim), #ddd);
    background: linear-gradient(to right, var(--color-neutral-dim), #ddd);
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,.5) inset;
    transition: max-height 1s;
    overflow: hidden;

    &__content{
        padding: 3em;
    }
}

.visible{
    max-height: 100vh;
}

.hidden{
    max-height: 0vh;
    // visibility: hidden;
}